.questions {
    border: 5px solid green;
    min-height: 250px;
    max-height:1000px;
    min-width:800px;
    margin:20px 10px;
}

.question {
    margin: 20px 10px;
    border: 1px solid black;
    padding: 10px;
    min-height: 120px;
    max-height: 300px;
}
