<h5>New Survey</h5>
<button [disabled]="loading" (click)="AddQuestion()">Add Question</button>
<br />
<br />
<div *ngIf="newForm">
  <form [formGroup]="surveyNameForm" (ngSubmit)="onNameSubmit()">
    <div class="form-group">
      <label for="title"> Survey Title </label> <br />
      <input type="text" formControlName="title" />
    </div>
    <button type="submit">Generate Form</button>
  </form>
</div>

<div *ngIf="!newForm">
  <h5>Form Name : {{surveyName}}</h5>
  <div class="questions">
    <div class="question" *ngFor="let question of questions">
      <label>Question : {{'  ' + question.question}} </label>
      <div class="options">
        <label *ngFor="let option of question.options">Option : {{'  ' + option.optionValue}}</label>
      </div>
    </div>
    <form [formGroup]="QuestionForm" (ngSubmit)="CreateForm()">
      <div class="form-group">
        <label class="col-1" for="question"> Question </label>
        <input class="col-4 offset-1" type="text" formControlName="question" />
        <label class="col-1 offset-1" for="type"> Type </label>
        <input class="col-1" type="number" formControlName="type" />
        <button class="offset-1" (click)="AddOption()">Add Option</button>
      </div>
      <div>
        <label *ngFor="let option of options">Option : {{'  ' + option.optionValue}}</label>
      </div>
      <form [formGroup]="optionForm" (ngSubmit)="addOption()">
        <div class="form-group">
          <label class="col-2" for="option"> Option </label>
          <input class="col-4" type="text" formControlName="optionValue" />
        </div>
      </form>
      <button type="submit">Create Form</button>
    </form>
  </div>
</div>
