<h5>New Survey</h5>
<br />
<div *ngIf="newForm">
  <form [formGroup]="surveyNameForm" (ngSubmit)="onNameSubmit()">
    <div class="form-group">
      <label for="title"> Survey Title </label> <br />
      <input type="text" formControlName="title" />
    </div>
    <button type="submit">Generate Form</button>
  </form>
</div>

<div *ngIf="!newForm">
  <div class="container">
    <h5>Form Name : {{ surveyName }}</h5>

  </div>
  <div class="questions">
    <div class="question" *ngFor="let question of questions; index as qno">
      <label>Question {{qno + 1}}{{' : ' + question.question}} </label>
      <div class="options">
        <label class="option" *ngFor="let option of question.options; index as optno">Option {{optno + 1}}{{' : ' + option.optionValue}}</label>
      </div>
    </div>
    <form [formGroup]="questionForm">
      <div class="form-group">
        <label class="col-1" for="question"> Question </label>
        <input class="col-4 offset-1" type="text" formControlName="question" />
        <button class="offset-4" [disabled]="loading" (click)="AddQuestion()">Add Question</button>
      </div>
      <div>
        <label class="option" *ngFor="let option of options; index as optsno">Option {{ optsno + 1}}{{' : ' + option.optionValue}}</label>
      </div>
      <form [formGroup]="optionForm">
        <div class="form-group">
          <label class="col-2" for="option"> Option </label>
          <input class="col-4" type="text" formControlName="optionValue" />
          <button class="offset-4" (click)="AddOption()">Add Option</button>
        </div>
      </form>
      <button type="submit" (click)="CreateForm()">Create Form</button>
      <button type="button" [routerLink]="['/admin']"></button>
    </form>
  </div>
</div>
