/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #039BE5;
  border-color: #1861ac;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
}

.headings {
  color: white;
}
.background {
  background: linear-gradient(to bottom,#039BE5,white);
  height: 50vh;
}
.opacity-box {
  background-color: rgba(51,51,51,0.6);
  border-radius: 20px;
}

.card {
  padding: 10px !important;
}

.card-header {
  background: transparent;
}
.card:hover {
  background-position: right center; /* change the direction of the change here */
  box-shadow: 0 0 20px #000;
}



.skew-top {
  background-color: white;
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  height: 30vh;
  top: -5vh;
  z-index: 1;
  width: 100%;
  position: relative;
}

.above-skew {
  z-index: 2;
  position: relative;
}

