


<div class="above-skew">
  <div class="col-3 mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Login</h4>
        <button class="btn btn-primary" (click)="authenticateUserByLinkedIn()">Login with LinkedIn</button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="text-center">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
            <button [disabled]="loading" type="button" [routerLink]="['/register']" class="btn btn-success">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">Login with</h5>
        <!--<div class="g-signin2"  id="googleBtn" ></div>-->
        <button class="btn btn-primary" id="googleBtn">Google</button>
      </div>
    </div>
  </div>
</div>

