<div class="text-center"><button class="btn btn-primary m-2" [routerLink]="['../']">Admin Page</button></div>
<div class="container opacity-box">
  <div class="m-2">
    <br />
    <h5>New Survey</h5>
    <br />
    <div *ngIf="newForm">
      <form class="form-group" (ngSubmit)="generateNewForm()">
        <div>
          <label> Survey Title </label> <br />
          <input type="text" name="title" [(ngModel)]="title" required />
        </div>
        <div>
          <label for="description"> Description </label> <br />
          <input type="text" name="description" [(ngModel)]="description" required />
        </div>
        <div class="is-invalid">
          <span> {{formError}}</span>
        </div>
        <button type="submit" class="btn btn-secondary">Generate Empty Survey</button>
        <br />
      </form>
    </div>
  </div>

  <div *ngIf="!newForm">
    <div class="container">
      <h3 class="text-center">Form Name : {{currentForm.title}}</h3>
      <h5 class="text-center">Form Description : {{currentForm.description}}</h5>
    </div>
    <div class="container margin-bottom-50 padding-bottom-50">
      <div class="questions">
        <div class="form-group question" *ngFor="let question of currentForm.questions, let qid = index">
          <label class="font-weight-bold col-2"> Question {{' ' + (qid+1) + ' : '}} </label>
          <input class="col-8" type="text" placeholder="Enter A Question" name="question.question" [(ngModel)]="question.question" required />
          <div class="options">
            <div class="form-group" *ngFor="let option of currentForm.questions[qid].options, let oid = index">
              <label class="font-weight-bold col-2 offset-2"> Option {{' ' + (oid+1) + ' : '}} </label>
              <input class="col-5" name="optionValue" placeholder="Enter An Option" type="text" [(ngModel)]="option.optionValue" />
              <button type="button" (click)="deleteOption(qid,oid)">Delete</button>
            </div>
            <div class="row">
              <div class="offset-4 action-buttons">
                <button type="button" (click)="addOption(qid)">+ Add Option</button>
                <button type="button" (click)="deleteQuestion(qid)">Delete Question</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="margin-left-43 col-3">
          <button type="button" (click)="addQuestion()">+ Add Question</button>
          <button type="button" (click)="createForm()">Create Form</button>
        </div>

      </div>
    </div>
  </div>
</div>
