<div class="above-skew">
  <div class="container opacity-box">
    <div class="m-2">
      <br />
      <h5>New Survey</h5>
      <br />
      <div *ngIf="newForm">
        <form class="form-group" (ngSubmit)="generateNewForm()">
          <div>
            <label> Survey Title </label> <br />
            <input type="text" name="title" [(ngModel)]="title" required />
          </div>
          <div>
            <label for="description"> Description </label> <br />
            <input type="text" name="description" [(ngModel)]="description" required />
          </div>

          <div *ngIf="error" class="alert alert-danger border border-danger is-invalid ml-0 m-3 col-3">{{formError}}</div>
          <!--<div class="is-invalid">
            <span> {{formError}}</span>
          </div>-->
          <br />
          <button type="submit" class="btn btn-primary">Generate Empty Survey</button>
        </form>
        <br/>
      </div>
    </div>

    <div *ngIf="!newForm">
      <div class="container">
        <h3 class="text-center">Form Name : {{currentForm.title}}</h3>
        <h5 class="text-center">Form Description : {{currentForm.description}}</h5>
      </div>
      <div class="container margin-bottom-50 padding-bottom-50">
        <div class="questions overflow-hidden">
          <div class="form-group question " *ngFor="let question of currentForm.questions, let qid = index">
            <label class="font-weight-bold col-2"> Question {{' ' + (qid+1) + ' : '}} </label>
            <input class="col-7" type="text" placeholder="Enter A Question" name="question.question" [(ngModel)]="question.question" required />
            <button type="button" class="btn btn-danger ml-5" (click)="deleteQuestion(qid)">Delete Question</button>
            <div class="options">
              <div class="form-group" *ngFor="let option of currentForm.questions[qid].options, let oid = index">
                <label class="font-weight-bold col-2 offset-2"> Option {{' ' + (oid+1) + ' : '}} </label>
                <input class="col-5" name="optionValue" placeholder="Enter An Option" type="text" [(ngModel)]="option.optionValue" />
                <button type="button" class="btn btn-primary ml-5" (click)="deleteOption(qid,oid)">Delete</button>
              </div>
              <div class="row">
                <div class="offset-4 action-buttons">
                  <button type="button" class="btn btn-primary" (click)="addOption(qid)">Add Option</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="margin-left-43 col-11">
            <button type="button" class="btn btn-primary" (click)="addQuestion()">Add Question</button>
            <button type="button" class="btn btn-success ml-2 float-right" (click)="createForm()">Create Form</button>
            <button class="btn btn-warning float-right" [routerLink]="['../']">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
