<div class="above-skew">
  <h3 class="headings text-center">Surveys</h3>
  <p *ngIf="!surveys"><em>Loading...</em></p>
  <div class="container d-flex flex-wrap  justify-content-center opacity-box">
    <div *ngFor="let survey of surveys" class="card col-3 m-3 h-50  btn-d " >
      <div class="card-header text-center">{{survey.title}}</div>
      <div class="card-body text-center">
        {{survey.description}}
      </div>
      <button class="btn btn-primary" [routerLink]="['/survey',survey.id]">Take Survey</button>
    </div>
  </div>
</div>
